/*------------------------------------*\
$ESTATE
\*------------------------------------*/
.single--estate, .single--wine {
    padding: 0 10px;
    @include respond-to(tablet) {
        padding: 45px 30px 0;
    }
    .outstanding {
        margin-bottom: 10px;
    }
    .content__text {
        margin-bottom: 40px;
        text-align: center;
        @include respond-to(desktop) {
            width: 680px;
            margin: auto;
            margin-bottom: 60px;
        }
        p {
            @include font-size(16px, 30px);
            font-weight: 600;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.single--wine {
    @include respond-to(tablet) {
        padding: 45px 0px 0;
    }
}