/*------------------------------------*\
$GATHER
\*------------------------------------*/
.page-gather {
    @include respond-to(tablet) {
        padding-top: 50px;
    }
    .gather__text {
        max-width: 540px;
        margin: auto;
        text-align: center;
        padding: 0 10px;
    }
    .full-box {
        @include respond-to(tablet) {
            padding: 0;
            overflow: hidden;
            .redes--box {
                padding: 0;
            }
        }
    }
    .box--flex {
        @include respond-to(tablet) {
            padding: 0 10px;
        }
    }
}
.redes--box {
    padding: 0 10px;
    margin-top: 40px;
    .redes__title {
        margin-bottom: 20px;
        h2 {
            float: left;
            @include font-size(20px, 28px);
            text-transform: uppercase;
            @include respond-to(tablet) {
                @include font-size(30px, 36px);
            }
        }
        .redes__button {
            float: right;
            text-align: center;
            height: 30px;
            border: 1px solid $principal;
            border-radius: 5px;
            overflow: hidden;
            transition: all 300ms;
            color: $principal;
            padding: 0 15px;
            line-height: (28px);
            svg {
                height: 16px;
                width: 16px;
                fill: $principal;
                display: inline-block;
                transition: all 300ms;
                vertical-align: top;
                margin-top: 6px;
                margin-left: 5px;
            }
            &:hover {
                background: $principal;
                color: white;
                svg {
                    fill: white;
                }
            }
        }
    }
    .redes__image {
        position: relative;
        clear: both;
        &:hover {
            .redes__content {
                opacity: 1;
            }
        }
        .redes__content {
            background: rgba($principal, .8);
            width: 100%;
            height: 100%;
            @include center;
            opacity: 0;
            transition: all 300ms;
            .redes__content__block {
                @include center;
                height: 23px;
                .redes__icon {
                    color: white;
                    display: inline-block;
                    margin-right: 20px;
                    svg {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-left: 5px;
                        vertical-align: top;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
    .redes__text {
        @include font-size(16px, 22px);
        color: $principal;
        margin-top: 10px;
        a {
            display: inline-block;
            color: $destacado;
        }
    }
    .redes__item {
        display: none;
        position: relative;
        @include respond-to(tablet) {
            display: block;
            width: 50%;
            float: left;
            padding: 0 20px 0 89px;
            &:after {
                content: '';
                width: calc(100% - 109px);
                position: absolute;
                height: 1px;
                background: rgba($destacado, .5);
                bottom: 0;
                right: 20px;
            }
        }
        @include respond-to(desktop) {
            width: (100% / 3);
            &::after {
                display: none;
            }
        }
        &:nth-child(2) {
            display: block;
        }
        &:nth-child(2n) {
            @include less-than(desktop) {
                clear: left;
            }
        }
        &:last-child {
            @include respond-to(desktop) {
                display: none;
            }
        }
        .redes__image__account {
            width: 54px;
            height: 54px;
            border-radius: 27px;
            overflow: hidden;
            display: inline-block;
            margin-bottom: 10px;
            @include respond-to(tablet) {
                margin-left: -69px;
                margin-bottom: -20px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .redes__item__title {
            width: calc(100% - 64px);
            padding-left: 15px;
            display: inline-block;
            vertical-align: top;
            a {
                color: $destacado;
                line-height: cr(54px);
            }
        }
        .redes__item__text {
            margin-top: 10px;
            font-weight: 600;
            p {
                @include font-size(16px, 30px);
            }
            a {
                color: $destacado;
                display: inline-block;
            }
        }
        .redes__item__buttons {
            .redes__item__button {
                display: inline-block;
                margin-right: 40px;
                color: $background;
                padding: 20px 0;
                svg {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    vertical-align: top;
                    fill: $background;
                }
            }
        }
    }
}
.redes--box--twitter {
    .redes__title {
        @include respond-to(tablet) {
            width: 280px;
            margin: 30px auto 40px;
        }    
    }
}