/*------------------------------------*\
$SOCIAL ITEM
\*------------------------------------*/
.full-box--instagram {
    background: $background;
    padding: 20px 10px 10px;
    @include respond-to(tablet) {
        background-color: transparent;
        padding: 0;
        position: relative;
        z-index: $level1;
    }
}/*.full-box--instagram*/
.item--instagram {
    position: relative;
    @include respond-to(tablet) {
        width: 40%;
        position: absolute;
        right: 0;
        top: 0;
        padding: 2px 2px 2px 20px;
    }
    @include respond-to(desktop) {
        width: 330px;
        right: auto;
        left: 540px;
        padding: 0;
        z-index: $level3;
    }
    .item--instagram__title {
        @include font-size(25px, 30px);
        font-weight: 700;
        color: white;
        float: left;
        margin-bottom: 20px;
        @include respond-to(desktop) {
            @include font-size(20px, 35px);
        }
    }/*.item--instagram__title*/
    .item--instagram__button {
        width: 110px;
        float: right;
        color: white;
        margin-top: -5px;
        text-align: center;
        @include respond-to(desktop) {
            margin-right: 20px;
        }
        svg {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: top;
            margin: 6px 0 0 6px;
        }
    }/*.item--instagram__button*/
    .item--instagram__text {
        font-weight: 600;
        @include respond-to(tablet) {
            color: white;
            clear: both;
        }
    }/*.item--instagram__text*/
}/*.item--instagram*/
.images--instagram {
    position: relative;
    .images--instagram__item {
        display: none;
        float: left;
        position: relative;
        @include respond-to(tablet) {
            width: (100% / 3);
            display: block;
            padding: 2px;
        }
        @include respond-to(desktop) {
            &:hover {
                .images--instagram__content {
                    opacity: 1;
                }
            }
        }
        &:first-child {
            display: block;
            @include respond-to(tablet) {
                width: 60%;
            }
            @include respond-to(desktop) {
                width: 460px;
                margin-left: 46px;
            }
        }
        &:nth-child(2) {
            @include respond-to(tablet) {
                width: 40%;
                vertical-align: bottom;
            }
        }
        &:nth-child(3) {
            @include respond-to(tablet) {
                clear: left;
            }
            @include respond-to(desktop) {
                clear: none;
            }
        }
        &:nth-child(2), &:nth-child(3) {
            @include respond-to(desktop) {
                width: 310px;
                margin-top: 150px;
            }
        }
        &:nth-child(4) {
            @include respond-to(desktop) {
                clear: left;
                padding-left: 0;
                padding-bottom: 4px;
            }
        }
        &:nth-child(6), &:nth-child(7), &:nth-child(8) {
            display: none;
            @include respond-to(desktop) {
                display: block;
            }
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
            @include respond-to(desktop) {
                width: 236px;
                height: 234px;
                overflow: hidden;
            }
        }
        &:nth-child(8) {
            @include respond-to(desktop) {
                padding-right: 0;
                padding-bottom: 4px;
            }
        }
        .images--instagram__item__content {
            position: relative;
            display: block;
            img {
                width: 100%;
            }
        }
        .images--instagram__content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($principal, .7);
            display: none;
            @include respond-to(desktop) {
                display: block;
                opacity: 0;
                transition: all 300ms;
            }
            svg {
                width: 16px;
                height: 16px;
                display: inline-block;
                fill: white;
                vertical-align: top;
                margin: 2px 0 0 5px;
            }
            span {
                display: inline-block;
                color: white;
            }
            .images--instagram__content--block {
                @include center;
                display: flex;
                flex-flow: row wrap;
                .images--instagram__like {
                    margin-right: 20px;
                }/*.images--instagram__like*/
                .images--instagram__message {

                }/*.images--instagram__message*/
            }/*.images--instagram__content--block*/
        }/*.images--instagram__content*/
    }/*.images--instagram__item*/
}/*.images--instagram*/
.item--twitter {
    position: relative;
    margin-top: 4px;
    @include respond-to(tablet) {
        width: 50%;
        padding: 2px;
        float: left;
        margin: 0;
        height: 242px;
        overflow: hidden;
        position: relative;
        z-index: $level1;
    }
    @include respond-to(desktop) {
        height: 396px;
        padding-left: 0;
    }
    &::after {
        content: '';
        width: 100%;
        height: 175px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        @include respond-to(tablet) {
            width: calc(100% - 4px);
            top: 2px;
            left: 2px;
        }
        @include respond-to(desktop) {
            left: 0;
            top: 4px;
        }
    }
    .item--twitter__image {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include respond-to(tablet) {
            top: 2px;
            left: 2px;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
        }
        @include respond-to(desktop) {
            width: calc(100% - 2px);
            left: 0;
            top: 4px;
        }
        .back-filter {
            background: #0d4b8e;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: .4;
        }
        @include respond-to(tablet) {
            overflow: hidden;
        }
    }/*.item--twitter__image*/
    .item--twitter__button {
        width: 110px;
        text-align: center;
        color: white;
        display: block;
        position: absolute;
        right: 10px;
        top: 16px;
        z-index: 201;
        @include respond-to(tablet) {
            margin-bottom: 20px;
            right: auto;
            left: 15px;
        }
        span {
            display: inline-block;
        }
        svg {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: top;
            margin: 6px 0 0 6px;
        }
    }/*.item--twitter__button*/
    .item--twitter__content {
        position: relative;
        top: 0;
        left: 0;
        z-index: $level2;
        height: 100%;
        padding: 20px 10px 10px;
        width: 100%;
        cursor: pointer;
        @include respond-to(tablet) {
            text-align: center;
            padding: 20px;
            padding-top: 70px;
            position: absolute;
        }
        .item--twitter__image--profile {
            display: none;
            @include respond-to(desktop) {
                display: block;
                width: 48px;
                height: 48px;
                margin: auto;
                border-radius: 36px;
                overflow: hidden;
            }
        }/*.item--twitter__image*/
        .item--twitter__name {
            @include font-size(25px, 30px);
            color: white;
            @include respond-to(tablet) {
                display: inline-block;
            }
        }/*.item--twitter__name*/
        .item--twitter__channel {
            @include font-size(20px, 24px);
            color: white;
            margin: -8px 0 20px 0;
            display: block;
            @include respond-to(tablet) {
                display: inline-block;
                margin-bottom: 0;
            }
        }/*.item--twitter__channel*/
        .item--twitter__text {
            @include respond-to(tablet) {
                padding: 0 30px;
                max-width: 370px;
                margin: auto;
            }
            p, a {
                @include font-size(20px, 30px);
                color: white;
                @include respond-to(tablet) {
                    @include font-size(16px, 24px);
                }
            }
        }/*.item--twitter__text*/
        .item--twitter__buttons {
            display: flex;
            flex-flow: row wrap;
            text-align: center;
            position: relative;
            margin-top: 20px;
            @include respond-to(tablet) {
                left: 50%;
                bottom: 20px;
                margin-top: 0;
                transform: translate(-50%, 0);
                position: absolute;
            }
            svg {
                height: 16px;
                display: inline-block;
                max-width: 25px;
                vertical-align: top;
                margin-top: 3px;
            }
            a {
                color: white;
                display: inline-block;
                margin-left: 5px;
            }
            .item--twitter__retweet {
                margin-right: 30px;
            }/*.item--twitter__retweet*/
            .item--twitter__fav {

            }/*.item--twitter__fav*/
        }/*.item--twitter__buttons*/
    }/*.item--twitter__content*/
}/*.item--twitter*/
.item--facebook {
    position: relative;
    margin-top: 4px;
    @include respond-to(tablet) {
        width: 50%;
        padding: 2px;
        float: left;
        margin: 0;
        height: 242px;
        overflow: hidden;
        position: relative;
        z-index: $level1;
    }
    @include respond-to(desktop) {
        height: 396px;
        padding: 2px 0 0 2px;
    }
    &::after {
        content: '';
        width: 100%;
        height: 175px;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        @include respond-to(tablet) {
            width: calc(100% - 4px);
            top: 2px;
            left: 2px;
            height: 100%;
        }
        @include respond-to(desktop) {
            width: calc(100% - 2px);
            top: 4px;
        }
    }
    .item--facebook__image {
        display: block;
        @include respond-to(tablet) {
            height: 100%;
            img {
                height: 100%;
                width: 100%;
            }
        }
        @include respond-to(desktop) {
            padding-top: 2px;
        }
    }/*.item--facebook__image*/
    .item--facebook__button {
        width: 110px;
        text-align: center;
        color: white;
        display: block;
        float: right;
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: $level2;
        @include respond-to(tablet) {
            float: left;
        }
        span {
            display: inline-block;
        }
        svg {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: top;
            margin: 6px 0 0 6px;
        }
    }/*.item--facebook__button*/
    .item--facebook__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $level2;    
        padding: 20px 10px 10px 10px;
        @include respond-to(tablet) {
            padding: 20px;
        }
        .item--facebook__text {
            font-family: woolen;
            display: block;
            color: white;
            padding: 0px 10px;
            clear: both;
            @include center;
            width: 100%;
            @include respond-to(tablet) {
                padding: 0 30px;
            }
            span {
                @include font-size(35px, 35px);
                text-align: center;
                display: block;
            }
        }/*.item--facebook__text*/
    }/*.item--facebook__content*/
}/*.item--facebook*/